# Data
/data/raw
/data/processed
/data/features
/data/artifacts
/data/reports
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/features/.gitkeep
!/data/artifacts/.gitkeep
!/data/reports/.gitkeep

# MLflow
/mlruns

# Logs
/logs

# Environments
.venv
venv

# Python cache
__pycache__/
*.pyc
